/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";


/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin redtheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  .mylabel {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
	}
	.mylayout{
	padding-right: 30px;
	padding-left: 30px;
	background-color: black;
	}
	.v-tabsheet-tabitemcell {
    width: 33%;
	}

.v-tabsheet-tabitem .v-caption {
    width: auto !important;
	}

.greentextarea{
    background-color: #ddf169 !important;  
}
.bluetextarea{
    background-color: #bceefe !important;  
}
}
  
